<!-- NAVBAR -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']"><img [src]="imageUrl" alt="Formalab logo" width="100px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <button class="btn btn-success me-3 my-2 my-sm-0" [routerLink]="['/login']">Login</button>
      <button class="btn btn-primary my-2 my-sm-0" [routerLink]="['/register']">Register</button>
    </form>
  </div>
</nav>
